.Wrapper {
  width: 100%;
  background-color: #ff9210;
  background-image: linear-gradient(#ff1010, #ff7300, #ff9210 30%, #fff865);
}

.Searching {
  max-width: 600px;
  height: 55px;
  padding: 30px 30px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Searching input, .Searching select {
  width: 220px;
  height: 30px;
  font-size: 20px;
  font-family: serif;
  color: #ffd87b;
  padding: 4px 9px;
  margin-bottom: 8px;
  border-color: #5e67c3;
  background-color: #1a0f31;
  background-color: #1a0f319e;
  border-radius: 16px;
}

.Flex-details {
  display: flex;
  justify-content: space-between;
}

.Searching select {
  width: 140px;
  margin-top: 7px;
  margin-left: 120px;
  font-size: 18px;
}

.Searching input[type="submit"] {
  width: 50px;
  margin-top: 7px;
  margin-left: 4px;
}

.FilmWrap {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.FilmNavigation {
  /*width: 70px;*/
  margin: 5px;
}

.Container {
  width: 100%;
  background-color: #5e67c3;
  background-image: linear-gradient(#9198e5, #5e67c3 30%, #1a0f31);
}

.Details {
  max-width: 900px;
  padding: 8px;
  margin: 0 auto;
}

.Details h2 {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 4px;
  color: #ff7300;
  text-shadow: -1px 2px 5px #000;

}

.Flex-details {
  display: flex;
  justify-content: flex-start;
  text-shadow: -1px 2px 5px #000;
}

.flex-block-1 {
  flex-basis: 30%;
  margin-bottom: 0;
  text-align: right;
  padding-right: 8px;
  color: #ff9210;
}

.flex-block-2 {
  flex-basis: 65%;
  margin-bottom: 0;
  text-align: left;
}

.videoWrapper {
  margin-top: 16px;
}

.FlexWrapper {
  display: flex;
  justify-content: center;
}

.MainContent {
  display: flex;
  justify-content: flex-start;
}

.sidebar {
  width: 250px;
  text-align: left;
}

.sidebar li {
  padding-top: 8px;
  margin-right: 20px;
  border-bottom: 1px solid #5e67c3;
  color: #ff9210;
}

.Advertising {
  padding: 4px;
}

.advertising {
  padding: 10px 0;
  border-bottom: 3px double #000;
}

.advertising h3 {
  color: #e94f37;
}